<div id="moi" class="flex flex-col justify-center px-12">
    <div class="header flex justify-start w-full">
        <h1 class="title">Qui suis-je ?</h1>
    </div>
    <div class="p-12">
        <p class="text-2xl">Salut ! Je suis <b class="text-secondary">Jérémy Appriou</b>, je suis Développeur Web full stack avec une préférence pour le <b class="text-secondary">Back End</b></p>
        <br>
        <p class="text-2xl">Passionné d'informatique depuis toujours, je me suis lancé en étude d'informatique en 2017 en rejoignant Epitech.</p>
        <br>
        <p class="text-2xl">Je suis aujourd'hui à la recherche d'un poste de développeur web en CDI ou CDD de preference sur <b class="text-secondary">Rennes ou Brest</b>. Je suis également à l'écoute d'opportunités sur toute la France.</p>
    </div>
</div>