<div id="competences" class="flex w-full px-12 flex-col">
    <h1 class="title">Mes compétences</h1>
    <div id="frameworks" class="flex w-full">
        <h2 class="subtitle">Langages : </h2>
        <div class="langage">
            <fa-icon [icon]="php"></fa-icon>
            PHP
        </div>
        <div class="langage">
            <fa-icon [icon]="java"></fa-icon>
            Java
        </div>
        <div class="langage">
            <fa-icon [icon]="python"></fa-icon>
            Python
        </div>
        <div class="langage">
            <fa-icon [icon]="html"></fa-icon>
            Html
        </div>
        <div class="langage">
            <fa-icon [icon]="css"></fa-icon>
            CSS
        </div>
        <div class="langage">
            <fa-icon [icon]="javaScript"></fa-icon>
            JavaScript
        </div>
    </div>
</div>