#home {
    min-height: 100vh;
    flex-wrap: wrap;
    overflow: hidden;
}

.animation {
    transition: 2s;
    &.left {
        transform: translateX(50);
    }
}

.profilePicture {
    max-height: 50vh;
    display: flex;
    justify-content: center;
}
.icons {
    margin-top: 2.25rem;
    @apply text-6xl;
    text-align: center;
    display: inline-flex;
    &.primary {
        @apply text-primary;
    }
    &.secondary {
        @apply text-secondary;
    }
}

.desc {
    flex-direction: column;
    .subtitle {
        margin-top: 2.25rem;
        @apply text-4xl;
        display: inline-flex;
        &.primary {
            @apply text-primary;
        }
        &.secondary {
            @apply text-secondary;
        }
        fa-icon {
            margin-right: 1rem;
        }
    }
}
#arrow {
    height: 5vh;
    transition: 500ms;
    &:hover {
        transform: rotate(1turn) scale(1.1);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-5000);
    }
    80% {
        opacity: 0;
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(5000);
    }
    80% {
        opacity: 0;
    }
    100% {
        transform: translateX(0);
    }
}
