<div id="home" class="flex">
    <div class="w-full lg:w-2/4 justify-center flex items-center desc pt-4 pb-12">
        <h1 class="text-8xl text-primary">Pefouk</h1>
        <div class="profilePicture">
            <img src="assets/Moi.jpg" alt="Photo de moi" class="object-scale-down h-full rounded-full">
        </div>
        <div class="justify-around flex w-8/12">
            <a href="https://www.linkedin.com/in/jeremy-appriou/" class="icons"><fa-icon [icon]="faLinkedin"></fa-icon></a>
            <a href="https://www.github.com/pefouk" class="icons"><fa-icon [icon]="faGithub"></fa-icon></a>
            <a href="mailto:jeremy.appriou@gmail.com" class="icons"><fa-icon [icon]="faEnveloppe"></fa-icon></a>
        </div>
    </div>
    <div class="flex w-full lg:w-2/4 lg:pl-12 pl-5 justify-center desc">
        <h1 class="text-5xl">Qui suis-je :</h1>
        <div class="flex w-full items-baseline desc pl-12">
            <div class="subtitle primary">
                <fa-icon [icon]="faIdCard"></fa-icon>
                <p class="text-white">Jeremy Appriou</p>
            </div>
            <div class="subtitle primary">
                <fa-icon [icon]="faBriefCase"></fa-icon>
                <p i18n="poste" class="text-white">Développeur web</p>
            </div>
            <div class="subtitle primary">
                <fa-icon [icon]="faMap"></fa-icon>
                <p i18n="ville" class="text-white">Rennes</p>
            </div>
            <div class="subtitle primary">
                <fa-icon [icon]="faClock"></fa-icon>
                <p i18n="disponibilite" class="text-white">Disponible dès aujourd'hui</p>
            </div>
        </div>
    </div>
</div>